version: '3.8'

networks:
  dev:

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf:ro'
    depends_on:
      - frontend
    networks:
      - dev

  frontend:
    build:
      context: ./furshet
      dockerfile: Dockerfile
    networks:
      - dev